python-dotenv
pyyaml
duckdb
psycopg2-binary
crowdstrike-falconpy
pytenable
requests
pandas
Jinja2
okta
duckdb
boto3
tabulate
pyarrow
sqlalchemy
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability